1. What are data structures, and why are they important?


Data structures are for organizing, storing, and accessing collections of data.
If we choose exact data structure,Simplify data manipulation (adding, removing, modifying elements)
Optimize searching and sorting operations.

2. Explain the difference between mutable and immutable data types with examples?

Mutable is objects whose state value can be changed after they are created. For example- list is the mutable .
Immutable is objects whose state value will not change aftert hey are created. For example- tuple is immutable.

3. What are the main differences between lists and tuples in Python?


The difference between lists and tuples are,List is a ordered collection and we change the value of assignment.It is mutable. Tuples is a ordered collection and it will not accept item assignment. we cannot modify the data. It is immutable.

4.  Describe how dictionaries store data?


Dictionaries store the data in key value pair. It is uniquie identifier for retrieving an associated value.

5. Why might you use a set instead of a list in Python?

We use set instead of list in pyton to efficiently remove duplicate values from a collection like a list and to perform common math operations like unions and intersections and symmetric operations.

6. What is a string in Python, and how is it different from a list?

 Strings in Python are sequences of characters enclosed in quotes (""). Lists are ordered collections of items enclosed in square brackets [].
 Strings are immutable, meaning they cannot be changed once created, while lists are mutable and can be modified as needed.

7. How do tuples ensure data integrity in Python?

Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity .

8. What is a hash table, and how does it relate to dictionaries in Python?

Hash table is implemented as a dictionary data type. A hash table is a data structure that stores key-value pairs, and dictionaries are a type of hash table

9. Can lists contain different data types in Python?

 Lists containes different type of data types they are string, flaot, boolean,integers.

10.  Explain why strings are immutable in Python?

Strings are immutable. It will not change once created, that is the reason strings are immutable.

11. What advantages do dictionaries offer over lists for certain tasks?

Dictionaries are faster than lists for lookups and are ideal for tasks that require frequent searches. They are also more flexible and can store complex data structures.

12. Describe a scenario where using a tuple would be preferable over a list?

Tuple is immutable where we cannot change the store date in it. Whenever you need data storage for permanently we use tuples instead of lists.For example addhar card id, pan card. Tuple is more preferable than list.

13. How do sets handle duplicate values in Python?

Sets donot contain duplicates, converting a list to a set automatically removes any duplicate elements.

14.  How does the “in” keyword work differently for lists and dictionaries?

The key of the dictionary is a unique value as well as the set, and the execution time is about the same as for sets. On the other hand, dictionary values can be duplicated like a list.

15. Can you modify the elements of a tuple? Explain why or why not?

No, we cannot modify the elements of tuple because they are immutable ones created cannot be changed.

16. What is a nested dictionary, and give an example of its use case?

A nested dictionary is a dictionary that is stored within another dictionary. It's a data structure that can be used to store complex data with multiple layers of organization.

17. Describe the time complexity of accessing elements in a dictionary?

The time complexity of accessing an element in a Python dictionary is \(O(1)\), which means it's very fast. This is because Python dictionaries use a hash table internally, which allows for constant time lookup

18.  In what situations are lists preferred over dictionaries?

For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based.

20. Explain the difference between a list and a dictionary in terms of data retrieval?

lists are accessed using indices, while dictionaries are accessed using keys.

#PRACTICAL QUESTIONS

In [14]:
#Write a code to create a string with your name and print it
Name = "Raju"
print(Name)

Raju

In [15]:
#Write a code to find the length of the string "Hello World"

Name = "rose"
print(len(Name))

4

In [16]:
#Write a code to slice the first 3 characters from the string "Python Programming"

string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

In [19]:
#Write a code to convert the string "hello" to uppercase

Name = "hello"
print(Name.upper())

HELLO

In [20]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"

string = "I like apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like orange

In [24]:
#Write a code to create a list with numbers 1 to 5 and print it?

list = [1,2,3,4,5]
list

[1, 2, 3, 4, 5]

In [23]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]

list = [1,2,3,4]
list.append(10)
list

[1, 2, 3, 4, 10]

In [25]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

list = [1,2,3,4,5]
list.remove(3)
list

[1, 2, 4, 5]

In [26]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']

list = ['a','b','c','d']
list[1]

'b'

In [27]:
#Write a code to reverse the list [10, 20, 30, 40, 50]

list = [10,20,30,40,50]
list.reverse()
list

[50, 40, 30, 20, 10]

In [28]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it

tuple = (100,200,300)
tuple

(100, 200, 300)

In [30]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

tuple = ('red', 'green', 'blue', 'yellow')
tuple[2]

'blue'

In [31]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15)

tuple = (10,20,5,15)
min(tuple)

5

In [32]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tuple = ('dog', 'cat', 'rabbit')
tuple.index('cat')

1

In [33]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

tuple = ('apple','banana','kiwi')
'kiwi' in tuple

True

In [34]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it

set = {'a','b','c'}
set

{'a', 'b', 'c'}

In [35]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}

set = {1,2,3,4,5}
set.clear()
set

set()

In [36]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [37]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

set1 = {1,2,3}
set2 = {3,4,5}
set1.union(set2)

{1, 2, 3, 4, 5}

In [38]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

set1 = {1,2,3}
set2 = {2,3,4}
set1.intersection(set2)

{2, 3}

In [39]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it

my_dict = {
    "name": "ram",
    "age": 40,
    "city": "hyderabad"
}
print(my_dict)

{'name': 'ram', 'age': 40, 'city': 'hyderabad'}

In [40]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [41]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

my_dict = {'name': 'Alice', 'age': 30}
print(my_dict['name'])

Alice

In [42]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [43]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [48]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.

list = [1,2,3,4]
tuple = (1,2,3,4)
my_dict = {
    "name": "ram",
    "age": 40,
    "city": "hyderabad"
}
print(list)
print(tuple)
print(my_dict)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'ram', 'age': 40, 'city': 'hyderabad'}

In [57]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the


book_list = [1,3,40,2,50]
book_list.sort()
book_list

[1, 2, 3, 40, 50]

In [59]:
#Write a code to create a list with strings and print the element at the third index.

list = [1,2,3,4]
list.insert(3,"orange")
print(list[3])

orange

In [60]:
list

[1, 2, 3, 'orange', 4]

In [61]:
#Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 15, 'b': 80}
dict2 = {'c': 35, 'd': 40}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 15, 'b': 80, 'c': 35, 'd': 40}

In [66]:
#Write a code to convert a list of strings into a set.

my_set = {s for s in [1, 2, 3, 3, 4, 4, 5, 6, 6]}
print(my_set)

{1, 2, 3, 4, 5, 6}